body {
	background-color: lightblue;
	padding: 0;
	margin: 0;
	padding-top: 60px;
}

.logo {
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	display: block;
}

* {
	box-sizing: border-box;
}

.signup-page {
	background-color: white;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	padding: 30px 40px;
}

.signup-page fieldset {
	background-color: white;
	border: none;
	padding: 0;
}

.signup-page legend {
	text-align: center;
	font-size: 30px;
	color: darkgray;
}

.signup-page input, .signup-page button {
	display: block;
	height: 55px;
	width: 100%;
	font-size: 16px;
}

.signup-page input {
	border: 2px  solid lightgray;
}

.signup-page input::placeholder {
	color: gray;
}

.signup-page button {
	color: white;
	background-color: lightgreen;
}

.signup-page label {
	color: black;
	font-size: 17px;
	text-align: left;
	width: 100%;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

.signup-page a {
	color: gray;
	display: block;
	font-size: 14px;
	text-align: center;
	text-decoration: underline;
}

.signup-page a:hover {
	color: black;
}

p {
	color: white;
	text-align: center;
}

p a {
	text-decoration: underline;
}

p a:hover {
	color: black;
}